body {
  border: 2px solid black;
}

#peopleContainer,
.peopleDivs {
  border: 2px solid black;
}

#memberContainer {
  border: 2px solid black;
}

#CUDcontainer,
#addContainer,
#deleteContainer,
#updateContainer {
  border: 2px solid black;
}
